{%  extends "templates/web.html" %}

{% block page_content %}
<div class="py-20 row">
    <div class="col-sm-2">
        <img src="{{ image }}" alt="{{ title }}">
    </div>
    <div class="col">
        <h1>{{ title }}</h1>
        <p class="lead">By {{ author }}</p>
        <div>
            {%- if status == 'Available' -%}
            <span class="badge badge-success">Available</span>
            {%- elif status == 'Out' or status == 'Issued' -%}
            <span class="badge badge-primary">Out</span>
            {%- endif -%}
        </div>
        <div class="mt-4">
            <div>Publisher: <strong>{{ publisher }}</strong></div>
            <div>ISBN: <strong>{{ isbn }}</strong></div>
            {% if types_of_book %}
            <div>Type of Books:
                <ul>
                {% for type in types_of_book %}
                    {% set picto = frappe.db.get_value('Article Type', type.article_type, ['picto_display']) %}
                    <li>{{ picto }}</li>
                {% endfor %}
                </ul>
            </div>

            {% endif %}
        </div>
        <p>{{ description }}</p>
    </div>
</div>
{% endblock %}